{% extends "base.html" %}
{% block title %}PySite: Python Based Super Simple Static Site Generator{% endblock %}
{% block content %}
    <div class="logo">
        <img alt="A python driving a Chevy Chevelle SS" src="{{base_url}}/public/images/pysite-logo.webp">
    </div>
    <nav id="navigation">
        <a href="{{base_url}}/">HOME</a>
        <a href="{{base_url}}/posts/">POSTS</a>
    </nav>
    <main>
        <h1>{{title}}</h1>
        <span>{{date}}</span>

        {{ content }}

    </main>
    <div class="post_nav">
        <h3><a href="{{base_url}}/posts/">Posts</a></h3>
        <nav>
            {% if prev_post_url %}
                <p><a href="{{base_url}}/{{ prev_post_url }}">← {{ prev_post_title }}</a></p>
            {% endif %}
            
            {% if next_post_url %}
                <p><a href="{{base_url}}/{{ next_post_url }}">{{ next_post_title }} →</a></p>
            {% endif %}
        </nav>
    </div>
{% endblock %}