body {
    margin: 0;
    padding: 0;
    background-color: #F2E8D9;
}

code {
    background: #efefef;
    padding: 4px 6px;
    border-radius: 6px;
    font-family: "Google Sans Code", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: .8rem;
}

main {
    padding: 5px 20px;
    margin: auto;
    width: 80vw;
    max-width: 800px;
    background: white;
}

main img {
    width: 80%;
}

.logo {
    width: 100%;
}
.logo img {
    display: block;
    margin: 0 auto;
    height: 20vh;
}